@page "/"
@using RequestManager.API.Dto;
@using RequestManager.Api.Enums;
@using RequestManager.Core.Components

<h3>Start</h3>
@if (Requests == null)
{
	<p>Loading...</p>
}
else
{
	<MudButton Variant="Variant.Filled" OnClick="AddRecord" StartIcon="@Icons.Material.Outlined.Add"></MudButton>
<MudTable MultiSelection="true" @ref="_mudTable" SelectedItem="@_selectedItem"
    T="RequestDto" Items="@Requests" Dense="true" Hover="true" CanCancelEdit="@_canCancelEdit"
    Filter="new Func<RequestDto, bool>(FilterFunc)"
    SelectedItems="@_selectedItems" SortLabel="Sort By" CommitEditTooltip="Commit Edit"
    RowEditPreview="x => BackupItem((RequestDto)x)" RowEditCancel="x => ResetItemToOriginalValues((RequestDto)x)"
    RowEditCommit="x => ItemHasBeenCommitted((RequestDto)x)"
    IsEditRowSwitchingBlocked="@_blockSwitch" ApplyButtonPosition="@_applyButtonPosition"
    EditButtonPosition="@_editButtonPosition" EditTrigger="@_editTrigger" TotalItems="_totalItems"
			  ServerData="@(new Func<TableState, Task<TableData<RequestDto>>>(LoadPage))">
   		<ToolBarContent>
			<MudText Typo="Typo.h6">Request</MudText>
			<MudSpacer />
			<MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="MudBlazor.Size.Medium" Class="mt-0"></MudTextField>
		</ToolBarContent>

		<HeaderContent>
			<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<RequestDto, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.CargoDescription)">Cargo description </MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.DeliveryDate)">Delivery date</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.DeliveryTime)">Dispatch date</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.Status)">Status</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.DeliveryAddress)">Delivery address </MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.DispatchAddress)">Dispatch address</MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.TelNumber)">Recipient's number </MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.RecipientFIO)">Recipient FIO </MudTableSortLabel></MudTh>
			<MudTh><MudTableSortLabel SortBy="new Func<RequestDto, object>(x=>x.Deliver.Name)">Deliver</MudTableSortLabel></MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Id"> @context.Id</MudTd>
			<MudTd DataLabel="Cargo description"> @context.CargoDescription</MudTd>
			<MudTd DataLabel="Delivery date">@context.DeliveryDate</MudTd>
			<MudTd DataLabel="Dispatch date">@context.DeliveryTime</MudTd>
			<MudTd DataLabel="Status">@context.Status</MudTd>
			<MudTd DataLabel="Delivery address">@context.DeliveryAddress</MudTd>
			<MudTd DataLabel="Dispatch address">@context.DispatchAddress</MudTd>
			<MudTd DataLabel="Recipient's number">@context.TelNumber</MudTd>
			<MudTd DataLabel="Recipient FIO">@context.RecipientFIO</MudTd>
			<MudTd DataLabel="Deliver">@context.Deliver?.Name</MudTd>
		</RowTemplate>
		<RowEditingTemplate>
			<MudTd DataLabel="Id">@context.Id</MudTd>
			@if (context.Status == RequestStatus.New)
			{
				<MudTd DataLabel="Cargo description">
					<MudTextField @bind-Value="@context.CargoDescription" />
				</MudTd>
				<MudTd DataLabel="Delivery date">
					<MudDatePicker @bind-Value="@context.DeliveryDate" />
				</MudTd>
				<MudTd DataLabel="Dispatch date">
					<MudDatePicker @bind-Value="@context.DeliveryTime" />
				</MudTd>
				<MudTd DataLabel="Status">@context.Status</MudTd>
				<MudTd DataLabel="Delivery address">
					<MudTextField @bind-Value="@context.DeliveryAddress" />
				</MudTd>
				<MudTd DataLabel="Dispatch address">
					<MudTextField @bind-Value="@context.DispatchAddress" />
				</MudTd>
				<MudTd DataLabel="Recipient's number">
					<MudNumericField @bind-Value="@context.TelNumber" />
				</MudTd>
				<MudTd DataLabel="Recipient FIO">
					<MudTextField @bind-Value="@context.RecipientFIO" />
				</MudTd>
				<MudTd DataLabel="Deliver">
					<MudSelect @bind-Value="@context.Deliver" T="DeliverDto">
						@foreach (var deliver in Delivers)
						{
							<MudSelectItem Value="@deliver">@deliver.Name</MudSelectItem>
						}
					</MudSelect>
				</MudTd>
			}
			else if (context.Status == RequestStatus.InProgress)
			{
				<MudTd DataLabel="Cargo description">@context.CargoDescription</MudTd>
				<MudTd DataLabel="Delivery date">@context.DeliveryDate</MudTd>
				<MudTd DataLabel="Dispatch date">@context.DeliveryTime</MudTd>
				<MudTd DataLabel="Status">
					<MudSelect @bind-Value="@context.Status" T="RequestStatus">
						<MudSelectItem Value="@context.Status">@context.Status</MudSelectItem>
						<MudSelectItem Value="@RequestStatus.Completed">@RequestStatus.Completed</MudSelectItem>
					</MudSelect>
				</MudTd>
				<MudTd DataLabel="Delivery address">@context.DeliveryAddress</MudTd>
				<MudTd DataLabel="Dispatch address">@context.DispatchAddress</MudTd>
				<MudTd DataLabel="Recipient's number">@context.TelNumber</MudTd>
				<MudTd DataLabel="Recipient FIO">@context.RecipientFIO</MudTd>
			}
			else
			{
				<MudTd DataLabel="Cargo description">@context.CargoDescription</MudTd>
				<MudTd DataLabel="Delivery date">@context.DeliveryDate</MudTd>
				<MudTd DataLabel="Dispatch date">@context.DeliveryTime</MudTd>
				<MudTd DataLabel="Status">@context.Status</MudTd>
				<MudTd DataLabel="Delivery address">@context.DeliveryAddress</MudTd>
				<MudTd DataLabel="Dispatch address">@context.DispatchAddress</MudTd>
				<MudTd DataLabel="Recipient's number">@context.TelNumber</MudTd>
				<MudTd DataLabel="Recipient FIO">@context.RecipientFIO</MudTd>
			}
		</RowEditingTemplate>
		<PagerContent >
			<MudTablePager  />
		</PagerContent>
		<EditButtonContent Context="button">
			<MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />	
		</EditButtonContent>
	</MudTable>
	<MudIconButton Size="@MudBlazor.Size.Large" Icon="@Icons.Material.Filled.Delete" OnClick="Drop">Delete</MudIconButton>
	<ReasonDialog ></ReasonDialog>

}